<link rel="stylesheet" href="App/style/titles.css" />



<section>

    <form class="form-inline my-2 my-lg-0  search" id="target" >
        <div class="form-group btn-group-sm bg-dark">
            <input id="formoriginalinputs"class="form-control mr-sm-1" type="search" placeholder="Search" aria-label="Search" data-bind="value: query">
            <button id="formoriginalbtns"data-bind="click: getTitles" class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
        </div>
    </form>

    <hr class="border-bottom-muted" />
    <div class="container mt-4">
        <div class="row" data-bind="foreach: records">
              <!-- ko if:media_type != 'person' -->
              <!-- ko if:poster_path-->
            <div class="col-auto mb-3">
                <div class="card" style="width: 140px">
                    
                    <a data-bind="attr: { href:'#TitleDetails/'+id+'/'+media_type }">
                        <img  style="height: 220px; width: 140px" class="card-img-top" data-bind="attr: { src:'https://image.tmdb.org/t/p/w500/'+poster_path, 'id': getTMDbSlug(name) }" />

                    </a>
                    <div class="card-body">
                        
                        <h5 class="card-title" data-bind="text: name"></h5>
                        <h6 class="card-subtitle mb-2 text-muted" data-bind="text:media_type"></h6>
                        <p class="card-text" >
                          
                            <i class="fa fa-star" aria-hidden="true">
                       
                            </i>
                            <span data-bind="text:vote_average">
                               
                            </span>
                           
                        </p>


                       
                    </div>
                  
                </div>
            </div>
                <!--/ko-->
               <!--/ko-->
        </div>
    </div>
    
</section>