<section>

    
    
    <div style="margin-top: 10px;">
        <h2 class="text-center">Series


            <a class="btn btn-link" onclick="showfav()">
                <i class="fa fa-eye" title="Show all favs "aria-hidden="true"></i>           
            </a>
        <br>
        <input type="text" class="circle" id="number" value="1" style="caret-color: transparent" data-bind="attr: { max:self.total_pages() }" onmouseleave=" this.style.caretColor='transparent'" onmouseenter=" this.style.caretColor='red'"/>
        <input type="button" style="background-color:#222;color:white;caret-color: transparent;" onclick="incrementValue('tv')" value="Next page" />
        <input type="button" style="background-color:#222;color:white;caret-color: transparent;" onclick="incrementValue('Previous/tv')" value="Previous page" />
        
       
    </div>

    <hr class="border-bottom-muted" />
    <div class="container mt-4">
        <div class="row" data-bind="foreach: records">
                <!-- ko if:poster_path-->

            <div class="col-auto mb-3">
                <div class="card" style="width: 140px"   data-bind="attr: { id:'card'+id }" class="btn btn-link" onmouseenter="cardhide(id)" onmouseleave="cardshow(id)" >
                    
                    
                    <img    onclick="location.href='#TitleDetails/'+id+'/'+'tv';"  style="height: 220px; width: 140px" class="card-img-top" data-bind="attr: { src: api_img_url + poster_path, id: id } " />

                    <div class="card-body">
                        
                        <h5 class="card-title" data-bind="text:name"></h5>
                        <h6 class="card-subtitle mb-2 text-muted"></h6>
                        <h10 data-bind="text:first_air_date"></h10>

                        <p class="card-text" >
                          
                            <i class="fa fa-star" aria-hidden="true">
                       
                            </i>
                            <span data-bind="text:vote_average">
                               
                            </span>
                            <a data-bind="attr: { id:id , name:name}" class="btn btn-link" onclick="myFunction(id,name,'tv')">
                        
                                <i data-bind="attr: { id:'ic'+id }" title="adicionar a favoritos"  onmouseenter="showfav()"class="fa fa-heart" aria-hidden="true"></i>
                            
                            </a>
                           
                        </p>

                    </div>
                  
                </div>
            </div>
              <!--/ko-->
        </div>
    </div>
    
</section>
