<link rel="stylesheet" href="App/style/titles.css" />

<section>
    <div class="container details">
            <div class="pt-4 pb-1 mb-3">
                
                <h1 data-bind="text: name()"  style="text-align: center;"></h1>
                <div data-bind="with: type">
                    <h4 class="d-inline-block">
                        <span data-bind="text: Name" ></span> <span data-bind="text: $parent.releaseYear"></span>
                    </h4>
                </div>
            </div>

            <img class="detailsPoster" data-bind="attr: { src:poster_path }"  />

            <div align="center" >
                <button   id="verfilmebtn" type="button" class="btn btn-outline-success"  onclick="verfilme()">Assistir </button>
            </div>

        
        <div id="modal" align="center" style=display:none ="center" class="bs-example">
            <!-- Button HTML (to Trigger Modal) -->
            <a href="#myModal"  class="btn btn-primary btn-lg" data-toggle="modal">Play Video</a>
            
            <!-- Modal HTML -->
            <div id="myModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">YouTube Video</h5>
                            <button id="play" class="center" type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe id="cartoonVideo" class="embed-responsive-item" width="560" height="315" src="" allowfullscreen></iframe>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>     

            <!-- ko if:overview() -->
            <hr class="border-bottom-muted" />
            <h6>Overview</h6>
            <span data-bind="text: overview"></span>

        
            <hr class="border-bottom-muted" />
            <!-- ko if:categories().length > 0 -->
            <h6>Categories</h6>
            <div data-bind="foreach: categories">
                <div>
                    <i class="icon mr-1 fa fa-bookmark-o"></i>
                    <span data-bind="text: Name "></span>
                    
                </div>
            </div>

            <!-- /ko -->
            <!-- ko if:categoria().length > 0 -->
            <h6>Categories</h6>
            <div data-bind="foreach: categoria">
                <div>
                    <i class="icon mr-1 fa fa-bookmark-o"></i>
                    <span data-bind="text: name "></span>
                    
                </div>
            </div>
        
            <hr class="border-bottom-muted" />
            <!-- /ko -->
            <!-- ko if:dateAdded() != null -->

            <h6>Added on</h6>
            <span data-bind="text: getDateAdded()"></span>

            <hr class="border-bottom-muted" />
            <!-- /ko -->
            <!-- ko if:duration() != null -->

            <h6>Duration</h6>
            <span data-bind="text: duration()"></span>

            <hr class="border-bottom-muted" />
            <!-- /ko -->
            <!-- ko if:rating() != null -->

            <h6>Rating</h6>
            <i class="fa fa-star"  aria-hidden="true"></i>
            <span data-bind="text: rating"></span>
            <!-- /ko -->
            <!-- /ko -->
            

    </div>

    
    <div>
         <!-- ko if:tipo() =="tv" -->
        

         <hr class="border-bottom-muted" />
        <form class="form-inline my-2 my-lg-0  Assistir">
            <div class="form-group btn-group-sm bg-dark">
                <input id="seasons" class="form-control mr-sm-1" type="search" placeholder="seasons" aria-label="Search" >
                <input id="episodes" class="form-control mr-sm-1" type="search" placeholder="episodes" aria-label="Search" >
                <button data-bind="click: showserie(id())" class="btn btn-outline-primary my-2 my-sm-0" type="submit">Assistir </button>
            </div>
        </form>
      
     
         <!-- /ko -->
    </div>
  
    <hr class="border-bottom-muted" />
    <!--
        https://fsapi.xyz/tmdb-movie/ best 
    https://www.2embed.ru/embed/tmdb/movie?id=634649 no ads?
    -->
    <!-- 16:9 aspect ratio -->


<div class="embed-responsive embed-responsive-16by9" id="showfilme" style="display: none;" >
   <iframe id="verfilme" class="embed-responsive-item"   data-bind="attr: { src: 'https://www.2embed.ru/embed/tmdb/movie?id='+id() }"    allowfullscreen allow='autoplay'           ></iframe>
  </div>
  <di>
    <hr class="border-bottom-muted" />

    <h1 id="displayvideos" style="text-align: center; visibility: hidden;">
        Videos
      
    </h1>


    <div align="center" >
    <button type="button" class="btn btn-outline-success"  value="1"  id="showorhide" onclick="showvideo()">Show videos</button>
    </div>
    <br>
    </di>



    <div id="videoscard" class="cards" data-bind="foreach: videos" style="display: none;">

        <div class="card ">
           
           
           

            <iframe  data-bind="attr: { src:'https://www.youtube.com/embed/'+key} " allowfullscreen>
            </iframe>
           

            <div class="card-body " >
                
                

               
                <p class="card-text" >
                    <h5 data-bind="text:name"></h5>
                       
                   
                </p>

              </div>



        </div>
        


    </div>


</section>


<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-md-6 col-12 pb-4">

                 
            
                
                <h1>Comentários </h1>
              
                <!-- ko if:resultados().length ==0 -->
                <h5>Sem comentarios</h5>
                <!-- /ko -->
                <!-- ko if:resultados().length > 0 -->
                <div  data-bind="foreach: resultados" class="comment mt-4 text-justify float-left"> 
                    <hr class="border-bottom-muted" />
                    <img data-bind="attr: { src: avatar_path }" alt="" class="rounded-circle" width="40" height="40">
                    <h4 data-bind="text:author"></h4> <span data-bind="text: created_at"></span> <br> 
                    <p data-bind="text:content" ></p>
                </div>

                <!-- /ko -->
  
            </div>
            
       
        
        </div>


     
           
  
    </div>
</section>
